.grid > * {
    margin: 0;
    padding: 0;
  }
  p {
    background: red;
    border: 2px solid blue;
    counter-increment: p;
  }
  
  p::before {
    content: counter(p);
    font-size: 24px;
  }
  
  /* .grid {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: auto;
    gap: 24px;
  }
  
  p:nth-of-type(1) {
    grid-column: span 2;
  }
  
  p:nth-of-type(5) {
    grid-column: span 3;
    grid-row: span 3;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
  } */
  
  .grid {
    display: grid;
    grid-template-areas:
      "one two three"
      "four five six"
      "seven eight nine"
      "ten eleven twelve";
  }
  
  p:nth-of-type(1) {
    grid-area: one;
  }
  
  p:nth-of-type(2) {
    grid-area: two;
  }
  p:nth-of-type(3) {
    grid-area: three;
  }
  p:nth-of-type(4) {
    grid-area: four;
  }
  p:nth-of-type(5) {
    grid-area: five;
  }
  p:nth-of-type(6) {
    grid-area: six;
  }
  p:nth-of-type(7) {
    grid-area: seven;
  }
  p:nth-of-type(8) {
    grid-area: eight;
  }
  p:nth-of-type(9) {
    grid-area: nine;
  }
  p:nth-of-type(10) {
    grid-area: ten;
  }
  p:nth-of-type(11) {
    grid-area: eleven;
  }
  p:nth-of-type(12) {
    grid-area: twelve;
  }
  
  @media (max-width: 800px) {
    .grid {
      grid-template-areas:
        "one two"
        "three four"
        "five six"
        "seven eight"
        "nine ten"
        "eleven twelve";
    }
  }
  
  @media (max-width: 600px) {
    .grid {
      grid-template-areas: none !important;
      grid-template-columns: 1fr;
    }
    p {
      grid-area: none !important;
    }
  }