

/* Grid Layout */
body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Arial';
}

.main {
    /* background-color: blue; */
    background-color: transparent;
    max-width: 1252px;
    /* max-width: 50%; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    /* row-gap: 1%; */
    column-gap: 1.5%;;
    grid-template-areas:
    "jane chat"
    "call chat";
}

/* CALLER SECTION */

.man-image {
    background-image: URL(/oak.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: call;
    /* margin-bottom: 50px; */
    /* border: 2px solid black; */
    border: 2px solid black;
    border-radius: 5%;
    max-width: 854px;
    min-width: 850px;
    min-height: 590px;
    margin-bottom: 20px;
    position: relative;
}

.jane-chat {
    grid-area: jane;
    background-color: #cc3232;
    border: 2px solid black;
    color: white;
    /* border: 2px solid black; */
    /* border: 2px solid transparent; */
    border-radius:20px;
    padding: 20px 0px 20px 20px;
    margin-top: 20px;
    max-height: 60px;
    font-size: 40px;
    align-items: center;
}

.jane-image {
    border: 1px solid transparent;
    border-radius: 20px;;
    object-fit: cover;
    height: 180px;
    width: 180px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.jane-circle {
    padding-top: 10px;
    background-color: #cc3232;
    border: 2px solid black;
    color: white;
    /* border: 2px solid transparent; */
    text-align: center;
    border-radius: 30px;
    min-height: 20px;
    min-width: 100px;
    position: absolute;
    left: 50px;
    font-size: 16px;
}

.call-functions {
    display: flex;
    position: absolute;
    min-width: 427px;
    /* border: 2px solid black; */
    border: 2px solid transparent;
    border-radius: 40px;
    bottom: -35px;
    left: 213.5px;
    background-color: #cc3232;
    border: 2px solid black;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}

.phone-icon {
    max-width: 42px;
    max-height: 42px;
}

.call-icons {
    background-color: white;
    padding: 3px;
    /* border: 2px solid black; */
    border: 2px solid transparent;
    border-radius: 50px;
    width: 100%;
}


/* CHAT LOG FORMATTING - IT IS THE COLUMN ON THE RIGHT */

.chat-log {
    min-width: 345.234px;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-area: chat;
    background-color: #cc3232;
    border: 2px solid black;
    color: white;
    /* border: 2px solid black; */
    /* border: 2px solid transparent; */
    border-radius: 20px;
    /* display: flex; */
    /* flex-direction: column; */
    display: grid;
    grid-template-columns: repeat (1, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "chat-top"
    "chat-middle"
    "chat-bottom";
}

.chat-participant, .chat-message, .chat-send {
    background-color: #cc3232;
    border: 2px solid black;
    color: white;
}

/* CHAT TOP SECTION */
/* #ececec */

.chat-top {
    /* background-color: yellow; */
    background-color: #cc3232;
    font-size: 20px;
    margin-top: 30px;
    min-height: 100px;
    grid-area: chat-top;
    display: flex;
    justify-content: space-evenly;
}

.chat-participant {
    padding: 10px 20px;
    border-radius: 40px;
    background-color: #db5b5b;
    border: 2px solid white;
    /* border: 2px solid transparent; */
    text-align: center;
    align-items: center;
    justify-content: center;
}

.chat-circle {
    height: 30px;
    max-width: 60px;
    justify-content: center;
    align-items: center;
}

.chat-participant {
    height: 30px;
    width: 120px;
}

/* CHAT MIDDLE SECTION */

.chat-middle {
    font-size: 15px;
    /* background-color: pink; */
    background-color: #cc3232;
    /* border: 2px solid black; */
    color: white;;
    grid-area: chat-middle;
    height: 460.234px;
    display: flex;
    flex-direction: column;
    /* align-self: flex-end; */
    justify-content: flex-end;
    padding: 15px;
}

.chat-message {
    /* border: 2px solid black; */
    border: 2px solid transparent;
    border-radius: 20px;
    margin: 10px 0px;
    width: 260px;
    padding: 0px 10px;
    display: grid;
    grid-template-columns: repeat (2,1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "sender time"
    "message .";
}

.chat-you, .chat-them {
    margin-bottom: 0px;
}

.chat-you {
    border: 2px solid white;
    background-color: #db5b5b;
    align-self: flex-end;
    /* display: flex; */
    height:80px;
}

.chat-them {
    border: 2px solid white;
    background-color: #db5b5b;
    /* display: flex; */
    height: 80px;
    margin-bottom: unset;
}

.chat-sender {
    grid-area: sender;
    text-align: left;
}

.chat-time {
    grid-area: time;
    text-align: right;
    margin-bottom: unset;
    min-width: 70px;
    margin-left: -30px;
}

.chat-content {
    grid-area: message;
    margin-top: unset;
    min-width: 220px;
}

/* CHAT BOTTOM SECTION */

.chat-bottom {
    /* background-color: aquamarine; */
    background-color: #cc3232;
    border: 2px solid black;
    color: white;
    border: 2px solid transparent;
    border-radius: 20px;;
    /* padding-top: 0px; */
    min-height: 100px;
    /* min-width: 354.234px; */
    grid-area: chat-bottom;
    display: flex;
    justify-content: space-evenly;
    align-self: flex-end;
    align-items: flex-end;
}


::placeholder {
    color: white;
}

.send-button {
    /* border: 2px solid black; */
    border: 2px solid transparent;
    border-radius: 100%;
    margin-bottom: 20px;
    max-height: 64px;
    min-width: 71px;
}

.chat-send {
    padding: 7%;
    border: 2px solid white;
    background-color: #db5b5b;
    border-radius: 20px;
    margin-bottom: 20px;
    max-width: 205px;
}